<h1>Beste <%= @registration.name %></h1>

<p>Je bent (voorlopig) ingeschreven voor het Junioren Weekend 2016 in Brasschaat. Hierbij worden jouw gegevens bevestigd:</p>
<ul>
  <li>Aanwezig overdag: <%= @registration.presence_day ? 'Ja' : 'Neen' %></li>
  <li>Aanwezig avond: <%= @registration.presence_evening ? 'Ja' : 'Neen' %></li>
  <li>Aanwezig nacht: <%= @registration.presence_night ? 'Ja' : 'Neen' %></li>
  <li>Wil een acro vlucht doen: <%= @registration.acro ? 'Ja' : 'Neen' %></li>
  <li>Aantal personen die blijven eten: <%= @registration.food %></li>
</ul>

<p><strong>LET OP!</strong> Je bent pas ingeschreven tot je betaald. Dit kan je doen via een overschrijving op dit rekeningnummer: <strong>BE7506 7395 1011</strong> met vermelding <em>je naam, club en het aantal personen waar je voor wil inschrijven</em>. Hier is een overzicht van de kostprijs voor het eten:</p>
<ul>
  <li>Kinderen onder 6 jaar: gratis</li>
  <li>Kinderen tussen 6 en 12 jaar: 12 &euro;</li>
  <li>Volwassene: 15 &euro;</li>
</ul>

<p>Tot snel!<br /><br />Het juniorenteam!</p>
