<div class="row">
  <div class="twelve columns">
    <h4>Vul onderstaande velden in om je in te schrijven!</h4>
    <% if registration.errors.any? %>
      <div class="error_explanation">
        <h4>Niet alle velden zijn juist ingevuld, pas deze aan en probeer opnieuw.</h2>
      </div>
    <% elsif @success -%>
      <div class="success_explanation">
        <h4>Je bent geregistreerd voor het juniorenweekend 2016. Tot snel!</h2>
      </div>
    <% end %>
  </div>
</div>

<%= form_for(registration, remote: true) do |f| %>


  <div class="row">
    <div class="six columns">
      <div class="field">
        <%= f.label :name, 'Naam' %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="six columns">
      <div class="field">
        <%= f.label :email, 'Emailadres' %>
        <%= f.text_field :email %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <div class="field">
        <%= f.label :club, 'Jouw vliegclub' %>
        <%= f.text_field :club %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="twelve columns">
      <p><strong>Wanneer ga je aanwezig zijn?</strong></p>
    </div>
  </div>
  <div class="row">
    <div class="four columns checkbox">
      <div class="field">
        <%= f.check_box :presence_day %>
        <%= f.label :presence_day, 'Overdag' %>
      </div>
    </div>
    <div class="four columns checkbox">
      <div class="field">
        <%= f.check_box :presence_evening %>
        <%= f.label :presence_evening, '\'s Avonds' %>
      </div>
    </div>
    <div class="four columns checkbox">
      <div class="field">
        <%= f.check_box :presence_night %>
        <%= f.label :presence_night, '\'s Nachts' %>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="six columns checkbox">
      <p><strong>Wil je graag een <em>Acro</em> vlucht doen?</strong></p>
      <div class="field">
        <%= f.check_box :acro %>
        <%= f.label :acro, 'JA!' %>
      </div>
    </div>
    <div class="six columns checkbox">
      <p><strong>Met hoeveel personen ga je blijven eten?</strong></p>
      </p>
        <div class="field">
          <%= f.number_field :food %>
          <%= f.label :food, 'Personen' %>
        </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="twelve columns">
      <div class="actions">
        <%= f.submit 'Inschrijven!' %>
      </div>
    </div>
  </div>
<% end %>
